<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Permission required by Leaf SDK for secure event broadcasts -->
    <uses-permission android:name="com.github.shiroedev2024.leaf.android.VPN_EVENT_BROADCAST" />

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.LeafAndroid"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LeafAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="text/plain" />
                <data android:pathPattern=".*\\.leafsub" />
                <data android:pathPattern=".*\\..*\\.leafsub" />
                <data android:pathPattern=".*\\..*\\..*\\.leafsub" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.leafsub" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AutoProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.LeafAndroid">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="install"
                    android:scheme="leafvpn" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MemoryLoggerActivity"
            android:exported="false"
            android:theme="@style/Theme.LeafAndroid" />

        <service
            android:name=".LeafVPNTileService"
            android:label="Leaf VPN"
            android:icon="@drawable/round_vpn_lock_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVITY"
                android:resource="@xml/leaf_vpn_tile" />
        </service>

        <!-- Receiver for secure VPN event broadcasts from Leaf VPN SDK -->
        <receiver
            android:name=".VpnEventReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="com.github.shiroedev2024.leaf.android.VPN_EVENT_BROADCAST">
            <intent-filter>
                <action android:name="com.github.shiroedev2024.leaf.VPN_EVENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
